<% title "New Item" %>
<h1>New Item</h1>

<%= render partial:'layouts/error_display', locals:{obj:@item} %>

<% unless @item.errors.messages.include?(:base) %>
  <%= form_for @item do |i| %>
    <%= render partial:'layouts/items_spaces_form', locals:{o:i}  %>
    <%= i.submit %>
  <% end %>
<% end %>