/*************************************/
/****        Broad styling        ****/
/*************************************/

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.flash_notice {
  font-style: italic;
  font-size: 0.95em;
}

.flavor {
  font-style: italic;
  color: #313131;
  font-size: 0.9em;
}

/*******************************/
/****        Layout        ****/
/*******************************/

div#view_wrapper {
  width:98vw;
  height:100vw;
  display: grid;
  grid-template:
    [top-end]
    40px [nav-end]
    10fr [main-end]
    1fr [bottom-end] /
    [left-end]
    200px [sidebar-end]
    2fr [col-1-end]
    2fr [col-2-end]
    2fr [right-end];
}

div#nav {
  grid-area: top-end/left-end/nav-end/right-end;
  background-color:rgb(220, 225, 228);
  z-index: 1;
}

div#sidebar {
  grid-area: nav-end/left-end/bottom-end/sidebar-end;
  /* background-color: rgb(230, 230, 184); */
  padding: 10px 0 10px 10px;
  font-size:90%;
  
}

div#sidebar:after {
  content: '';
  height:50%;
  border-right: 1px solid white;
  position:absolute;
}

div#main {
  grid-area: nav-end/sidebar-end/bottom-end/col-2-end;
  /* background-color: rgb(166, 220, 245); */
  padding: 0 5%;
}

div #main_no_sidebar {
  grid-area: nav-end/left-end/bottom-end/col-2-end;
  /* background-color: rgb(76, 189, 241); */
  padding: 0 3%;
}

div.vertical-margin-div {
  margin: 30px 0 30px;
}



/********************************/
/****          Nav          ****/
/********************************/

form.inline {
  display:inline;
}

div#nav .nav_link {
  float:left;
  margin:12px 18px;
}

div#nav .session_link{
  float:right;
}

/*******************************/
/****        Sidebar        ****/
/*******************************/

div.sidebar_container {
  border-right: 1px solid rgb(231, 231, 231);
  padding-right: 25px;
}

div.sidebar_item {
  margin:4%;
  margin-right:0;
  background-color:rgb(237, 241, 243);
  padding:5% 7%;
  border-radius: 5px;
}

.sidebar_drop_item_form {
  margin:8% 0 4%;
}

.sidebar_end_journey_form {
  margin-top:8%;
}
