<% title @journey.name %>

<!-- this represents history of current journey -->
<p>Traveler: <%= @journey.traveler.name %></p>
<p>Name: <%= @journey.name %></p>
<p>Region: <%= @journey.region.name %></p>
<p>Items: <% @journey.items.each do |i| %><ul>
    <li><%= i.name %></li>
    <% end %></ul>
</p>
Spaces Traveled
    Description
    At this space - item picked up? dropped?
if backtrack, no need to redescribe
if journey over, last stop and last actions