<% title "Your journey ends..."%>
<h1>Your journey ends...</h1>

<p>session - journey_id: <%= session[:journey_id] %></p>
<p>session - wrapup: <%= session[:wrapup] %></p>
<p>session - wrapup_resource: <%= session[:wrapup_resource] || "none" %></p>